@model FirstDay.ViewModels.ItemList
@{
    ViewBag.Title = "Index";
    var selectList = new SelectList(ViewBag.Categories, "Id", "Name");

}

<h2>Index</h2>

<form class="my-5" id="search-form">
    <div class="mb-3">
        <label for="search" class="form-label">Name</label>
        <input class="form-control" id="search" type="text" name="search" />
    </div>
    <div class="mb-3">
        <label for="categoryId" class="form-label">Category</label>
        @Html.DropDownList("categoryId", selectList, "select a category", new { @class = "form-control",@id="category" })
    </div>
    <div class="mb-3">
        <input hidden name="SortDirection" value="" id="SortDirection"/>
        <label for="Sort" class="form-label">sortBy</label>
        <select class="form-control" name="SortColumn" id="sort">
            <option value>Select a Column to Sort</option>
            @foreach (var propName in ViewBag.Columns)
            {
                <option value="@propName" direction="Ascending">
                    @propName - Ascending
                </option>
                <option value="@propName" direction="Descending">
                    @propName - Descending
                </option>
            }
        </select>
    </div>
    <button class="btn btn-primary" type="submit">Filter</button>
</form>

@*<td><button type="button" class="btn btn-success">@Html.ActionLink("Add", "Add", new {},new { @class = "text-light text-decoration-none" })</button></td>*@
<button type="button" class="btn btn-success">@Html.ActionLink("Add", "Form", new {},new { @class = "text-light text-decoration-none" })</button>
<div id="items">

    @Html.Partial("List")
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            function registerDeleteEvents() {
                $(".delete-button").click(function () {
                    if (!confirm("Do you want to delete")) {
                        return false;
                    } else {
                        const id = $(this).attr("id");
                        $.get("https://localhost:44396/Items/Delete", {
                            id: id
                        }).done(function () {
                            $.post("https://localhost:44396/Items/Index")
                                .done(function (data) {
                                    $("#items").html(data);
                                })
                        });
                    }
                });
            }
            registerDeleteEvents();
            $("#search-form").submit(function (e) {
                e.preventDefault();
                e.stopPropagation();
                const sort = $("#sort");
                if (sort.val()) {
                    const selectedOption = sort.find(":selected");
                    $("#SortDirection").val(selectedOption.attr("direction")) 
                }
                const params = $(this).serialize();
                console.log(params);
                $.post("https://localhost:44396/Items/Index", params)
                    .done(function (data) {
                        $("#items").html(data);
                        registerDeleteEvents();
                })
            })
            
        });
    </script>
    }