@model FirstDay.ViewModels.ItemList
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Count</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.CategoryName</td>
                <td>@item.Count</td>
                <td><button type="button" class="btn btn-info">@Html.ActionLink("Edit", "Form", new { id = item.Id }, new { @class = "text-dark text-decoration-none" })</button></td>
                @*<td><button type="button" class="btn btn-danger">@Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "text-light text-decoration-none delete-button", @id = item.Id })</button></td>*@
                <td><button type="button" class="btn btn-danger"><a class="text-light text-decoration-none delete-button" id="@item.Id">Delete</a></button></td>
            </tr>
        }
    </tbody>
</table>